{% extends 'layouts/base.html' %}

{% block content %}
    <section style="width: 100%">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12">
                <div class="card">
                    <div class="rounded-top text-white d-flex flex-row"
                         style="background-color: #000; height:280px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            <img src="

                                    {% if user.photo %}{{ user.photo.url }}{% else %}https://t3.ftcdn.net/jpg/04/62/93/66/360_F_462936689_BpEEcxfgMuYPfTaIAOC1tCDurmsno7Sp.jpg{% endif %}"
                                 alt="Generic placeholder image" class="img-fluid img-thumbnail mt-3 mb-2"
                                 style="width: 150px; z-index: 1; object-fit: cover; height: 120px">

                            <form method="POST" enctype="multipart/form-data" action="{% url 'upload_photo' %}">
                                {% csrf_token %}
                                <label for="formFile" class="form-label">Изменить фото</label>
                                <input onchange="this.form.submit()" name="photo" class="form-control" type="file" id="formFile">
                            </form>


                        </div>
                        <div class="ms-3" style="margin-top: 130px;">
                            <h5>{{ user.first_name }} {{ user.last_name }}</h5>
                            <h5>{{ user.email }}</h5>
                            <p>@{{ user.username }}</p>
                        </div>
                    </div>
                    <div class="p-4 text-black" style="background-color: #f8f9fa;">
                        <div class="d-flex justify-content-end text-center py-1">
                            <div>
                                <p class="mb-1 h5">253</p>
                                <p class="small text-muted mb-0">Твиты</p>
                            </div>
                            <div class="px-3">
                                <p class="mb-1 h5">{{ user.subscribers.all|length }}</p>
                                <p class="small text-muted mb-0">Подписчики</p>
                            </div>
                            <a class="block" href="{% url 'subscriptions' user.id %}">
                                <p class="mb-1 h5">{{ user.subscriptions.all|length }}</p>
                                <p class="small text-muted mb-0">Подписки</p>
                            </a>
                        </div>
                    </div>
                    <div class="card-body p-4 text-black">
                        <div class="mb-5">
                            <p class="lead fw-normal mb-1">About</p>
                            <div class="p-4" style="background-color: #f8f9fa;">
                                <p class="font-italic mb-1">Web Developer</p>
                                <p class="font-italic mb-1">Lives in New York</p>
                                <p class="font-italic mb-0">Photographer</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-normal mb-0">Recent photos</p>
                            <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
                        </div>
                        <div class="row g-2">
                            <div class="col mb-2">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp"
                                     alt="image 1" class="w-100 rounded-3">
                            </div>
                            <div class="col mb-2">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp"
                                     alt="image 1" class="w-100 rounded-3">
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp"
                                     alt="image 1" class="w-100 rounded-3">
                            </div>
                            <div class="col">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp"
                                     alt="image 1" class="w-100 rounded-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}