{% extends 'layouts/base.html' %}
{% block content %}

<div class="container">
    <div class="block">Друзья {{ user.username }}</div>
    <div class="row">
        <div class="col-12">
            <div class="people-nearby">
                {% for user in users %}
                <div class="nearby-user">
                    <div class="row">
                        <div class="col-md-2 col-sm-2">
                            <img src="{% if user.photo %}{{ user.photo.url }}{% else %}https://t3.ftcdn.net/jpg/04/62/93/66/360_F_462936689_BpEEcxfgMuYPfTaIAOC1tCDurmsno7Sp.jpg{% endif %}" alt="user"
                                 class="profile-photo-lg">
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <h5><a href="{% url 'detail_user' user.username %}" class="profile-link">@{{ user.username }}</a></h5>
                            <p>{{ user.first_name}} {{ user.last_name }}</p>

                        </div>
                        <div class="col-md-3 col-sm-3">
                            <a href="{% url 'request_user' user.id %}" class="btn btn-primary pull-right">{{ user.text }}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}